@font-face {
  font-family: 'Handel Gothic Black Demi Light';
  src: url('/assets/fonts/handel-gothic-black-demi-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Handel Gothic BT';
  src: url('/assets/fonts/handel-gothic-bt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Handel Gothic CN';
  src: url('/assets/fonts/handel-gothic-cn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Handel Gothic Compress D Medium';
  src: url('/assets/fonts/handel-gothic-compress-d-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Handel Gothic ITC Pro';
  src: url('/assets/fonts/handel-gothic-itc-pro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Handel Gothic Regular';
  src: url('/assets/fonts/handel-gothic-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
