@font-face {
  font-family: 'Minion Pro Bold Caption';
  src: url('/assets/fonts/Minion Pro/Minion Pro Bold Caption.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Bold Caption.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Bold Cond Caption';
  src: url('/assets/fonts/Minion Pro/Minion Pro Bold Cond Caption.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Bold Cond Caption.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Bold Cond Display';
  src: url('/assets/fonts/Minion Pro/Minion Pro Bold Cond Display.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Bold Cond Display.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Bold Cond Italic Caption';
  src: url('/assets/fonts/Minion Pro/Minion Pro Bold Cond Italic Caption.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Bold Cond Italic Caption.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Bold Cond Italic Display';
  src: url('/assets/fonts/Minion Pro/Minion Pro Bold Cond Italic Display.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Bold Cond Italic Display.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Bold Cond Italic Subhead';
  src: url('/assets/fonts/Minion Pro/Minion Pro Bold Cond Italic Subhead.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Bold Cond Italic Subhead.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Bold Cond Italic';
  src: url('/assets/fonts/Minion Pro/Minion Pro Bold Cond Italic.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Bold Cond Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Bold Cond Subhead';
  src: url('/assets/fonts/Minion Pro/Minion Pro Bold Cond Subhead.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Bold Cond Subhead.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Bold Cond';
  src: url('/assets/fonts/Minion Pro/Minion Pro Bold Cond.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Bold Cond.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Bold Display';
  src: url('/assets/fonts/Minion Pro/Minion Pro Bold Display.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Bold Display.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Bold Italic Caption';
  src: url('/assets/fonts/Minion Pro/Minion Pro Bold Italic Caption.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Bold Italic Caption.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Bold Italic Display';
  src: url('/assets/fonts/Minion Pro/Minion Pro Bold Italic Display.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Bold Italic Display.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Bold Italic Subhead';
  src: url('/assets/fonts/Minion Pro/Minion Pro Bold Italic Subhead.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Bold Italic Subhead.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Bold Italic';
  src: url('/assets/fonts/Minion Pro/Minion Pro Bold Italic.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Bold Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Bold Subhead';
  src: url('/assets/fonts/Minion Pro/Minion Pro Bold Subhead.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Bold Subhead.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Bold';
  src: url('/assets/fonts/Minion Pro/Minion Pro Bold.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Caption';
  src: url('/assets/fonts/Minion Pro/Minion Pro Caption.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Caption.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Cond Caption';
  src: url('/assets/fonts/Minion Pro/Minion Pro Cond Caption.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Cond Caption.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Cond Display';
  src: url('/assets/fonts/Minion Pro/Minion Pro Cond Display.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Cond Display.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Cond Italic Caption';
  src: url('/assets/fonts/Minion Pro/Minion Pro Cond Italic Caption.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Cond Italic Caption.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Cond Italic Display';
  src: url('/assets/fonts/Minion Pro/Minion Pro Cond Italic Display.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Cond Italic Display.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Cond Italic Subhead';
  src: url('/assets/fonts/Minion Pro/Minion Pro Cond Italic Subhead.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Cond Italic Subhead.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Cond Italic';
  src: url('/assets/fonts/Minion Pro/Minion Pro Cond Italic.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Cond Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Cond Subhead';
  src: url('/assets/fonts/Minion Pro/Minion Pro Cond Subhead.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Cond Subhead.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Cond';
  src: url('/assets/fonts/Minion Pro/Minion Pro Cond.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Cond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Display';
  src: url('/assets/fonts/Minion Pro/Minion Pro Display.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Display.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Italic Caption';
  src: url('/assets/fonts/Minion Pro/Minion Pro Italic Caption.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Italic Caption.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Italic Display';
  src: url('/assets/fonts/Minion Pro/Minion Pro Italic Display.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Italic Display.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Italic Subhead';
  src: url('/assets/fonts/Minion Pro/Minion Pro Italic Subhead.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Italic Subhead.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Italic';
  src: url('/assets/fonts/Minion Pro/Minion Pro Italic.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Medium Caption';
  src: url('/assets/fonts/Minion Pro/Minion Pro Medium Caption.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Medium Caption.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Medium Cond Caption';
  src: url('/assets/fonts/Minion Pro/Minion Pro Medium Cond Caption.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Medium Cond Caption.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Medium Cond Display';
  src: url('/assets/fonts/Minion Pro/Minion Pro Medium Cond Display.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Medium Cond Display.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Medium Cond Italic Caption';
  src: url('/assets/fonts/Minion Pro/Minion Pro Medium Cond Italic Caption.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Medium Cond Italic Caption.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Medium Cond Italic Display';
  src: url('/assets/fonts/Minion Pro/Minion Pro Medium Cond Italic Display.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Medium Cond Italic Display.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Medium Cond Italic Subhead';
  src: url('/assets/fonts/Minion Pro/Minion Pro Medium Cond Italic Subhead.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Medium Cond Italic Subhead.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Medium Cond Italic';
  src: url('/assets/fonts/Minion Pro/Minion Pro Medium Cond Italic.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Medium Cond Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Medium Cond Subhead';
  src: url('/assets/fonts/Minion Pro/Minion Pro Medium Cond Subhead.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Medium Cond Subhead.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Medium Cond';
  src: url('/assets/fonts/Minion Pro/Minion Pro Medium Cond.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Medium Cond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Medium Display';
  src: url('/assets/fonts/Minion Pro/Minion Pro Medium Display.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Medium Display.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Medium Italic Caption';
  src: url('/assets/fonts/Minion Pro/Minion Pro Medium Italic Caption.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Medium Italic Caption.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Medium Italic Display';
  src: url('/assets/fonts/Minion Pro/Minion Pro Medium Italic Display.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Medium Italic Display.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Medium Italic Subhead';
  src: url('/assets/fonts/Minion Pro/Minion Pro Medium Italic Subhead.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Medium Italic Subhead.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Medium Italic';
  src: url('/assets/fonts/Minion Pro/Minion Pro Medium Italic.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Medium Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Medium Subhead';
  src: url('/assets/fonts/Minion Pro/Minion Pro Medium Subhead.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Medium Subhead.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Medium';
  src: url('/assets/fonts/Minion Pro/Minion Pro Medium.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Regular';
  src: url('/assets/fonts/Minion Pro/Minion Pro Regular.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semi Bold Italic';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semi Bold Italic.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semi Bold Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semibold Caption';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semibold Caption.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semibold Caption.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semibold Cond Caption';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semibold Cond Caption.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semibold Cond Caption.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semibold Cond Display';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semibold Cond Display.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semibold Cond Display.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semibold Cond Italic Caption';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semibold Cond Italic Caption.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semibold Cond Italic Caption.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semibold Cond Italic Display';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semibold Cond Italic Display.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semibold Cond Italic Display.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semibold Cond Italic Subhead';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semibold Cond Italic Subhead.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semibold Cond Italic Subhead.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semibold Cond Italic';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semibold Cond Italic.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semibold Cond Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semibold Cond Subhead';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semibold Cond Subhead.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semibold Cond Subhead.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semibold Cond';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semibold Cond.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semibold Cond.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semibold Display';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semibold Display.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semibold Display.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semibold Italic Caption';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semibold Italic Caption.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semibold Italic Caption.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semibold Italic Display';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semibold Italic Display.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semibold Italic Display.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semibold Italic Subhead';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semibold Italic Subhead.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semibold Italic Subhead.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semibold Italic';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semibold Italic.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semibold Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semibold Subhead';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semibold Subhead.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semibold Subhead.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Semibold';
  src: url('/assets/fonts/Minion Pro/Minion Pro Semibold.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Semibold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Minion Pro Subhead';
  src: url('/assets/fonts/Minion Pro/Minion Pro Subhead.woff2') format('woff2'),
       url('/assets/fonts/Minion Pro/Minion Pro Subhead.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

