$spacing-unit: 8px;

// Font sizes
$TITLE_SIZE: 24px;
$SUBTITLE_SIZE: 18px;
$TEXT_SIZE: 16px;

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

// Shared styles
.title {
  font-size: $TITLE_SIZE;
  font-weight: bold;
  margin-bottom: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0;
}

.label {
  font-size: $TEXT_SIZE;
  font-family: 'TrajanProBold', sans-serif;
}

.input {
  height: 40px;
  border: 1px solid gray;
  padding: 0 8px;
  width: 80%;
  margin-bottom: 0;
}

.players-list {
  margin-top: 16px;
  width: 80%;
}

.player-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid gray;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.button-text {
  color: #fff;
  text-align: center;
}

.container {
  padding: $spacing-unit * 2;
}

.statistics-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-unit * 2;
  box-sizing: border-box; // Include padding in the total width and height
  // Remove any margin-top or padding-top
  margin-top: 0;
  padding-top: 0;
}

.graph-container {
  width: 80vw;
  // max-width: 1000px; // Optional: limit the maximum width
  margin: $spacing-unit * 4 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

canvas {
  max-width: 100% !important;
  height: auto !important;
}

@font-face {
  font-family: 'CharlemagneStdBold';
  src:
    url('/assets/fonts/charlemagnestd-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/charlemagnestd-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMonoRegular';
  src:
    url('/assets/fonts/spacemono-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/spacemono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import 'minion-pro';
@import 'trajan-pro';
@import 'typography';
