name: Test and Upload to Codacy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-and-upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Set up FontAwesome NPM registry
        run: ./fontawesome-npmrc.sh
        env:
          FONTAWESOME_KEY: ${{ secrets.FONTAWESOME_KEY }}

      - name: Install dependencies
        run: yarn install

      - name: Run tests and upload to Codacy
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
        run: yarn test:jest:upload-codacy
